@tailwind base;
@tailwind components;
@tailwind utilities;

.terminal-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Custom Input Styles overriding forms plugin for dark mode/IDE feel */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
select,
textarea {
  background-color: #0D1117 !important; /* Darker than surface */
  color: #dde4dd !important;
  border-color: #30363D !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #4edea3 !important; /* Emerald focus */
  box-shadow: 0 0 0 1px #4edea3 !important;
  outline: none !important;
}

select option {
  background-color: #161d19;
  color: #dde4dd;
}
